
.skills{
    display: flex;
    flex-direction: column;
    background-color: #FDF2E4;
    justify-content: center;
    padding-left: 20px;
    }
    
    .skills h3{
    padding-top: 50px;
        color: #0B24F5;
        font-weight: bold;
        font-size: 80px;
        text-align: center;
        padding-bottom: 30px;
       
    }
    .code{
        padding-bottom: 30px;
        text-align: center;
    }
    .code dt{
        background-color: magenta;
       
    }
    .toolbox{
        text-align: center;
        padding-bottom: 30px;
    }
    .toolbox dt{
       background-color: green; 
     
    }
    .morelist{
        text-align: center;
        padding-bottom: 30px;
    }
    .more{
        background-color: #0B24F5;
       
    }
    
    .js{
        background-color: #0B24F4;
    }
    .tech{
        color: white;
        padding: 0 2px;
    }
    .Cloud{
        background-color: red;
    }
    .acces{
        background-color: #12af2c;
    }
    dt{
        display: inline-block;
        font-size: 24px;
        margin: 0 0 15px 0;
        color: white ;
        padding: 2px 6px;
    }


@media(min-width: 740px) and (max-width: 1024px){

    .techskills{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 90px;
        padding-top: 90px;
    }
    .techtitle{
        text-align: center;
        padding-bottom: 20px;
    }

    .skills h3{
        text-align: center;
        grid-column: 1/3;
    }
    
    .skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media(min-width: 1025px) {
    .skills{
        display: flex;
        flex-direction: row;
    
        padding-top: 70px;
        padding-bottom: 40px;
        justify-content: space-around;
    }
    .skills h3{
        padding-top: 0;
    }
}
